{% extends "layout.twig" %}
{% import "macro.twig" as m %}



{% block body %}
    <div class="container-fluid text-center firstContainer lastContainer">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    {% if errors %}
                        <div class="alert alert-danger">
                            {% for error in errors %}
                                <div class="text">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if valid %}
                        <div class="alert alert-success firstContainer">
                            <div class="text">
                                {{ valid }}
                            </div>
                        </div>
                    {% endif %}
                    <form role="form" action="" method="post">
                        <fieldset>
                            <div class="form-group">
                                <span class="label label-primary col-md-12 center-block info">Ajouter une Classe</span>
                                <input class="form-control formWeb" placeholder="Nom Classe" name="nom_classe"
                                       type="text">
                                <input class="form-control formWeb" placeholder="2017" name="annee" type="text">
                                <input class="form-control formWeb" placeholder="Nom Enseignant" name="nom_enseignant"
                                       type="text">
                                <label>
                                    Ecole
                                    <select name="ecole" class="selecter_3"
                                            data-selecter-options='{"cover":"true"}'>
                                        {% for school in infoEcole %}
                                            <option name="id_ecole" value="{{ school.id_ecole }}">{{ school.nom_ecole }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </label>
                                <label>
                                    Section
                                    <select name="section"
                                            class=" selecter_3">

                                        {% for section in infoSection %}
                                            <option name="id_section"
                                                    value="{{ section.id_section }}">{{ section.nom_section }}
                                            </option>
                                            </li>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-lg btn-success btn-block" type="submit">Envoyer</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
{% endblock %}