{% extends "layout.twig" %}
{% import "macro.twig" as m %}

{% block css %}
    {{ parent() }}
    {{ m.css('jis_calendar.css') }}
{% endblock %}

{% block title %}
    Calendrier prévisionnel de {{ prenom_enfant | capitalize }}
{% endblock %}

{% block script_footer %}
    {{ parent() }}
    {{ m.js('jis_calendar.js') }}
{% endblock %}

{% block body %}

    <div class="container firstContainer">

        <h5 >Calendrier prévisionnel de {{ prenom_enfant | capitalize }} :</h5>

        <div id="calendar"></div>
    </div>
{% endblock %}