{% extends "layout.twig" %}
{% import "macro.twig" as m %}

{% block css %}
    {{ parent() }}
    {{ m.css("style.css") }}
{% endblock %}

{% block title %}
    Contactez
{% endblock %}

{% block body %}
    {{ include('navbar.twig') }}


    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid text-center firstContainer" xmlns="http://www.w3.org/1999/html">
                <h2 class="form-title">Formulaire de contact</h2>
            </div>
            <div class="row">
                <div class="col-md-4">

                </div>

                <div class="col-md-4">
                    <form role="form" action="{{ path_for('contact.post') }}" method="post">
                        <fieldset>
                            <div class="form-group">
                                Données de contact: Nom-Prénom-Mail
                                <input class="form-control" placeholder="Nom" name="nom" style="text-align:center; margin: 5px;" type="text" value="{{ infoUtilisateur.nom_rl | capitalize }}" required autofocus>
                                <input class="form-control" placeholder="Prenom" name="prenom" type="text"  style="text-align:center; margin: 5px;" value="{{ infoUtilisateur.prenom_rl | capitalize }}" required autofocus>
                                <input class="form-control" placeholder="E-mail" name="email" type="email"  style="text-align:center; margin: 5px;" value="{{ infoUtilisateur.adresse_mail_rl }}" required autofocus>
                            </div>

                            <div class="form-group">
                                Objet:
                                <input class="form-control" placeholder="Raison de ce message" name="objet" type="text" required autofocus>
                            </div>

                            <div class="form-group">
                                Votre message:
                                <textarea class="form-control" placeholder="Votre message" name="message" rows="6"></textarea>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-lg btn-success btn-block" type="submit">Envoyez</button>
                            </div>

                        </fieldset>
                    </form>

                </div>
                </form>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </div>

{% endblock %}