{% extends "layout.twig" %}
{% import "macro.twig" as m %}

{% block css %}
    {{ parent() }}
    {{ m.css("style.css") }}
{% endblock %}

{% block title %}
    Nous-contacter - JIS
{% endblock %}

{% block body %}
    {{ include('navbar.twig') }}

    <div class="container-fluid text-center firstContainer" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col-md-12">

                <h2 class="form-title">Formulaire de contact</h2>

                <div class="row">
                    <div class="col-md-4">

                    </div>

                    <div class="col-md-4">
                        <form role="form" action="{{ path_for('contact.post') }}" method="post">
                            <fieldset>
                                <div class="form-group">
                                    Données de contact : Nom-Prénom-Mail
                                    <input class="form-control formWeb" placeholder="Nom" name="nom"  type="text" value="{{ infoUtilisateur.nom_rl | capitalize }}" required autofocus>
                                    <input class="form-control formWeb" placeholder="Prenom" name="prenom" type="text" value="{{ infoUtilisateur.prenom_rl | capitalize }}" required autofocus>
                                    <input class="form-control formWeb" placeholder="E-mail" name="email" type="email"  value="{{ infoUtilisateur.adresse_mail_rl }}" required autofocus>
                                </div>

                                <div class="form-group">
                                    Objet :
                                    <input class="form-control" placeholder="Raison de ce message" name="objet" type="text" required autofocus>
                                </div>

                                <div class="form-group">
                                    Votre message :
                                    <textarea class="form-control" placeholder="Votre message" name="message" rows="6"></textarea>
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-lg btn-success btn-block" type="submit">Envoyer</button>
                                </div>

                            </fieldset>
                        </form>

                    </div>
                    </form>
                    <div class="col-md-4">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}