{% extends "layout.twig" %}
{% import "macro.twig" as m %}

{% block css %}
    {{ parent() }}
    {{ m.css("style.css") }}
{% endblock %}

{% block body %}
    {{ include('navbar-admin.twig') }}
    <div class="container-fluid text-center firstContainer" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    {% if errors %}
                        <div class="alert alert-danger firstContainer">
                            <div class="text">
                                {{ errors }}
                            </div>
                        </div>
                    {% endif %}
                    {% if valid %}
                        <div class="alert alert-success firstContainer">
                            <div class="text">
                                {{ valid }}
                            </div>
                        </div>
                    {% endif %}
                    <form role="form" action="" method="post">
                        <fieldset>
                            <div class="form-group">
                                <span class="label label-primary col-md-12 center-block info">Ajouter un Enfant</span>
                                <input class="form-control formWeb" placeholder="Nom" name="nom_enfant" type="text"  >
                                <input class="form-control formWeb" placeholder="Prenom" name="prenom_enfant" type="text"   >
                                <input class="form-control formWeb" placeholder="Date de naissance: 2017-05-24" name="date_naissance_enfant" type="date" >
                            </div>
                            <div class="form-group">
                                <button class="btn btn-lg btn-success btn-block" type="submit">Envoyer</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
{% endblock %}


{% block footer %}
    <div id="footer" class="footer-copyright ">
        <i class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></i> Copyright 2017 Guillaume Desrumaux, Artru Thomas, Meziane Yanis, Herrenschmidt Felix, Billaud William
    </div>
{% endblock %}