{% extends "layout.twig" %}
{% import "macro.twig" as m %}

{% block css %}
    {{ parent() }}
    {{ m.css("style.css") }}
{% endblock %}

{% block title %}
    Page pour récupérer les données
{% endblock %}

{% block body %}
    {{ include('navbar.twig') }}
    <div class="firstContainer">
        
    <form  enctype="multipart/form-data" class="firstContainer" action="{{ path_for('exportData.post') }}" method="post">
        <select name="Ecole " required oninput="toggle_div();">
            <option value="0">Selectionner Ecole</option>
            {% for ecole in ecole %}
                <option value={{ ecole.nom_ecole |capitalize }}>{{ ecole.nom_ecole |capitalize }}</option>
            {% endfor %}
        </select>
        <div id="Classe" style="display: none">
        <select name="Classe" required oninput="">
            <option value="0">Selectionner Classe</option>
            {% for ecole in ecole %}
                <option value={{ ecole.nom_ecole |capitalize }}>{{ ecole.nom_ecole |capitalize }}</option>
            {% endfor %}
        </select>
        </div>
        <input type="submit" value="Télécharger">
    </form>
    </div>{##}
{% endblock %}