{% extends "layout.twig" %}
{% import "macro.twig" as m %}

{% block css %}
    {{ parent() }}
    {{ m.css("style.css") }}
{% endblock %}

{% block title %}
    Page pour récupérer les données
{% endblock %}

{% block body %}
    {{ include('navbar.twig') }}
    <div class="firstContainer">
        <form enctype="multipart/form-data" class="firstContainer" method="post">
            <label for="ecole">
                <select name="ecole" id="ecole" onchange="ajaxExportDataGetClasses()">
                    <option value="0">Sélectionner Ecole</option>
                    {% for ecole in listeEcole %}
                        <option value={{ ecole['nom_ecole'] }}>{{ ecole['nom_ecole'] }}</option>
                    {% endfor %}
                </select>
            </label>
            <label for="classe">
                <select name="classe" id="classe" >
                    <option value="0" disabled>Sélectionner Classe</option>
                </select>
            </label>
            <input type="button" value="Télécharger" name="Télécharger" id="Télécharger" onclick="ajaxExportDataGetPlanning()">
        </form>
        <div id="resultat">
        </div>
    </div>
{% endblock %}
{% block script_footer %}
    {{ parent() }}
    {{ m.js("exportData.js") }}
{% endblock %}