{% extends "layout.twig" %}
{% import "macro.twig" as m %}

{% block css %}
    {{ parent() }}
    {{ m.css("style.css") }}
{% endblock %}

{% block body %}
    {{ include('navbar.twig') }}

    <div class="container-fluid text-center" xmlns="http://www.w3.org/1999/html">
         <div class="row content">
             <div class="col-sm-2 sidenav">
                 <div class="panel panel-primary">
                     <div class="panel-heading">
                         <h3 class="panel-title">Enfants à Charge</h3>
                     </div>
                     <div class="panel-body">
                         todo: lister les enfants
                         avec un href vers leurs gestion
                         {% for nom in noms_enfants %}
                             {{ nom }}
                         {% endfor %}
                     </div>
                 </div>

                 <div class="panel panel-primary">
                     <div class="panel-heading">
                         <h3 class="panel-title">Mes Informations</h3>
                     </div>
                     <div class="panel-body">
                         {{ infoUtilisateur.nom_rl |capitalize }}
                         {{ infoUtilisateur.prenom_rl |capitalize}} </br>
                         {{ infoUtilisateur.adresse_mail_rl }} </br>
                         {{ infoUtilisateur.complement_d_adresse }}, </br>

                         {{ infoUtilisateur.code_postal }}  {{ infoUtilisateur.ville }}

                     </div>
                 </div>




             </div>
            <!-- <div class="col-sm-2 sidenav">
                <p><a href="#">Link</a></p>
                <p><a href="#">Link</a></p>
                <p><a href="#">Link</a></p>
            </div> -->
            <div class="col-sm-8 text-left">
               <!-- <p>Enfants :
                    {% for nom in noms_enfants %}
                        {{ nom }}
                    {% endfor %}
                </p>-->
                <CENTER><h1>Bienvenue</h1></CENTER>
                <p>Ce site vous permet de gérer l'emploie du temps de vos enfants en ligne.
                S'il s'agit de votre première connexion, il est fortement conseillé
                    de modifier votre mot de passe au plus vite afin de ne pas le perdre.

                Pour tout problème, contactez l'administrateur du site.
                </p>

                <hr>

                <p> todo: Calendrier des enfants à afficher ici
                </p>





            </div>
            <div class="col-sm-2 sidenav">
                <div class="thumbnail">
                <img class="img-rounded" src="../../img/JIS_couleur_détouré.gif">
                <div class="caption text-center">
                  <h3>Site JIS - La Crau</h3>
                  <p>Retrouvez toutes les actualités de l'association Jeunesse Inter Services. Toutes les infomations utiles s'y trouvent.</p>
                  <p><a href="http://www.jis-lacrau.com/" class="btn btn-warning" role="button">Site</a> <a href="http://www.jis-lacrau.com/contactez-nous.html" class="btn btn-default" role="button">Contact</a></p>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block footer %}
    <div id="footer" class="footer-copyright">
        <i class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></i> Copyright 2017 Guillaume Desrumaux, Artru Thomas, Meziane Yanis, Herrenschmidt Felix, Billaud William
    </div>
{% endblock %}